:root {
  --main-dark-color: #010101;
  --main-light-color: #fafafa;
  --main-background-color: #e8e8e2;
  --color-accent: #6d8434;
  --main-transparent-dark-color: rgba(1, 1, 1, 0.3);
  --secondary-transparent-dark-color: rgba(1, 1, 1, 0.5);
  --grey-color: #a3a3a3;
  --white-color: #ffffff;
}

body {
  font-family: "Neue Montreal", sans-serif;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
}

.page-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.link {
}

.logo-icon {
  width: 16px;
  height: 16px;
  fill: var(--main-background-color);
}

.logo-text {
  font-family: "Quincy CF", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.02em;
  color: var(--main-dark-color);
}

.cart-link {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-link-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.cart-link-icon {
  width: 18px;
  height: 18px;
  fill: var(--white-color);
}

.cart-link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: var(--main-dark-color);
}

.hero {
  padding-top: 80px;
  padding-bottom: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
}

.hero-card {
  border-radius: 20px;
  background-color: var(--main-light-color);
  padding: 20px;
}

.hero-card-img {
  margin-bottom: 14px;
}

.hero-card-list {
  display: flex;
  column-gap: 4px;
  margin-bottom: 20px;
}

.list {
}

.hero-title-wrapper {
  margin-bottom: 32px;
}

.hero-card-item {
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 30px;
  padding: 8px 20px;
}

.hero-card-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--main-dark-color);
}

.hero-card-text {
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-dark-color);
}

.hero-card-icon {
  width: 100px;
  height: 100px;
}

.hero-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.09091;
  letter-spacing: -0.02em;
  color: var(--main-dark-color);
  margin-bottom: 16px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(1, 1, 1, 0.7);
  margin-bottom: 32px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-background-color);
  background-color: var(--color-accent);
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 46px;
  padding: 10px;
}

.hero-image {
  display: none;
}

.products {
  padding-top: 40px;
  padding-bottom: 80px;
}

.products-title {
}

.products-subtitle {
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-transparent-dark-color);
}

.forms-wrapper {
  margin-bottom: 40px;
}

.products-search-form {
}

.products-search-form-label {
}

.products-search-form-input {
}

.products-search-form-button {
}

.products-search-form-icon {
}

.products-category-form {
}

.products-category-form-label {
}

.products-category-form-select {
}

.products-category-form-option {
}

.products-sorting-form {
}

.products-sorting-form-label {
}

.products-sorting-form-select {
}

.products-sorting-form-option {
}

.product-group-title {
  margin-bottom: 20px;
}

.product-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
}

.product-card-item {
  background-color: var(--main-light-color);
  border-radius: 20px;
  padding: 20px;
}

.product-card-img {
}

.product-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
  margin-bottom: 10px;
}

.product-card-property {
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(1, 1, 1, 0.3);
  display: flex;
  gap: 4px;
}

.product-card-property-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: var(--main-dark-color);
}

.product-card-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.product-card-button {
  background-color: var(--color-accent);
  border-radius: 30px;
  width: 34px;
  height: 34px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-icon {
  fill: var(--main-background-color);
  width: 18px;
  height: 18px;
}

.product-card-image-wrapper {
  background-color: var(--main-background-color);
  border-radius: 20px;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.product-info-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.product-buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.popular-products-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.popular-products-item {
}

.popular-products-image {
}

.popular-products-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
  margin-bottom: 12px;
}

.popular-products-category {
  margin-bottom: 9px;
  gap: 4px;
}
.popular-products-popularity {
  display: flex;
  gap: 4px;
}

.popular-products-size {
  display: flex;
  gap: 4px;
}

.popular-products-property {
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(1, 1, 1, 0.3);
}

.popular-products-property-value {
  font-size: 12px;
  line-height: 1.16667;
  color: var(--main-dark-color);
}
.product-group-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: var(--main-dark-color);
  margin-bottom: 20px;
  margin-top: 80px;
}

.popular-products-button {
  border-radius: 30px;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 4px;

  border: none;
  background-color: var(--main-background-color);
}

.popular-products-icon {
  width: 12px;
  height: 12px;
  fill: var(--color-accent);
}

.popular-products-wrapper {
  background-color: var(--main-light-color);
  border-radius: 10px;
  width: 335px;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.popular-products-image-wrapper {
  background-color: var(--main-background-color);
  border-radius: 10px;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.popular-products-info {
  margin-right: 55px;
}

.popular-products-size-category-wrapper {
  display: flex;
  gap: 9px;
}

.discount-products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.discount-products-item {
}

.discount-products-image {
}

.discount-products-icon {
  width: 60px;
  height: 60px;
}

.discount-products-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
  margin-right: 92px;
}

.discount-products-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
  margin-right: 8px;
}

.discount-products-button {
  border-radius: 30px;
  /* padding: 8px; */
  width: 34px;
  height: 34px;
  display: flex;
  /* padding: 8px; */
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border: none;
}

.discount-products-button-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-background-color);
}

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.discount-products-wrapper {
  background-color: var(--main-light-color);
  border-radius: 15px;
  width: 335px;
  height: 232px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 20px;
}

.discount-products-image-wrapper {
  border-radius: 10px;
  width: 304px;
  height: 150px;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

.discount-products-info {
  display: flex;
  justify-content: space-between;

  align-items: baseline;
}
