:root {
  --main-dark-color: #010101;
  --main-light-color: #fafafa;
  --main-background-color: #e8e8e2;
  --color-accent: #6d8434;
  --main-transparent-dark-color: rgba(1, 1, 1, 0.3);
  --secondary-transparent-dark-color: rgba(1, 1, 1, 0.5);
  --grey-color: #a3a3a3;
  --white-color: #ffffff;
}

body {
  font-family: "Neue Montreal", sans-serif;
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.page-header {
}

.page-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.link {
}

.logo-icon {
  width: 16px;
  height: 16px;
  fill: var(--main-background-color);
}

.logo-text {
  font-family: "Quincy CF", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.02em;
  color: var(--main-dark-color);
}

.cart-link {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-link-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.cart-link-icon {
  width: 18px;
  height: 18px;
  fill: var(--white-color);
}

.cart-link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: var(--main-dark-color);
}

.hero {
  padding-top: 80px;
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
}

.hero-card {
  border-radius: 20px;
  background-color: var(--main-light-color);
  padding: 20px;
}

.hero-card-img {
}

.hero-card-list {
}

.list {
}

.hero-title-wrapper {
  margin-bottom: 32px;
}

.hero-card-item {
}

.hero-card-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--main-dark-color);
}

.hero-card-text {
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-dark-color);
}

.hero-card-icon {
}

.hero-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.09091;
  letter-spacing: -0.02em;
  color: var(--main-dark-color);
  margin-bottom: 16px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(1, 1, 1, 0.7);
  margin-bottom: 32px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-background-color);
  background-color: var(--color-accent);
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 46px;
  padding: 10px;
}

.hero-image {
  display: none;
}

.products {
}

.products-title {
}

.products-subtitle {
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-transparent-dark-color);
}

.products-search-form {
}

.products-search-form-label {
}

.products-search-form-input {
}

.products-search-form-button {
}

.products-search-form-icon {
}

.products-category-form {
}

.products-category-form-label {
}

.products-category-form-select {
}

.products-category-form-option {
}

.products-sorting-form {
}

.products-sorting-form-label {
}

.products-sorting-form-select {
}

.products-sorting-form-option {
}

.product-group-title {
}

.product-card-list {
}

.list {
}

.product-card-item {
}

.product-card-img {
}

.product-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.product-card-property {
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(1, 1, 1, 0.3);
}

.product-card-property-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: var(--main-dark-color);
}

.product-card-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.product-card-button {
}

.product-card-icon {
}

.popular-products-list {
}

.popular-products-item {
}

.popular-products-image {
}

.popular-products-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.popular-products-property {
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(1, 1, 1, 0.3);
}

.popular-products-property-value {
  font-size: 12px;
  line-height: 1.16667;
  color: var(--main-dark-color);
}
.product-group-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: var(--main-dark-color);
}

.popular-products-button {
}

.popular-products-icon {
}

.discount-products-list {
}

.discount-products-item {
}

.discount-products-image {
}

.discount-products-icon {
}

.discount-products-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.discount-products-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--main-dark-color);
}

.discount-products-button {
}

.discount-products-button-icon {
}

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
